@charset "UTF-8";
/* CSS Document */
.bg-dark {
   background-color: #0f003d !important;
}

.c-container{
   padding-right:0px;
   padding-left: 0px;
}

.c-carousel-caption{
  color: #ADD8E6;
}

.text-container {
  max-width: 1000px;
}

.front-page-text{
  padding-top: 20px;
}

.research-page-text{
  padding-top: 20px;
}

.design-page-text{
  padding-top: 20px;
}

.footer{
     background-color: #0f003d;
     height: 60px;
     color: white;
     font-size: .8rem;
     text-align: center;
     padding-top: 20px;

}

.control-width{
  max-width: 1200px;
}

.card-container{
  padding-bottom: 20px;
}

.footer-card {
  height: 60px;
}

.btn-primary {
  background-color: transparent;
  color: #0f003d;
  border-color: #0f003d;
}

.btn-primary:hover {
  color: white;
  background-color: #0f003d;
  border-color: #0f003d;
}

.modal-content {
  text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #ffff;
    background-color: #70006c;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

body {
  font-family: Helvetica, Arial, sans-serif;
}
