@charset "UTF-8";
/*CSS Document*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
html {font-size: 100%;} /*16px*/

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-weight: normal;
  background: #ffffff;
  color: #000000; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: none; }

h1, h2, h3, h4, h5
.h1, .h2, .h3, .h4, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }


h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }


.toggle-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
 }

 #nav-icon1 span{
  display: block;
  margin:2px;
  height: 3px;
  width:20px;
  background: #fff;
  border-radius: 2px;
}


/*.collapse:not(.show) {
  display: none; }
*/
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }

.dropdown-toggle {
  white-space: nowrap; }
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
  .dropdown-toggle:empty::after {
    margin-left: 0; }


.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #40469d;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
  .dropdown-item.active, .dropdown-item:active {
    color: #40469d;
    text-decoration: none;
    background-color: #007bff; }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent; }

.dropdown-menu.show {
  display: block; }

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #40469d;
  white-space: nowrap; }

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #40469d; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

 .pt-6,
.py-6 {
  padding-top: 3.5rem !important; }


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #EDEDFF;
  color: #40469d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
#sidebar.active {
    margin-left: -250px; }
 #sidebar.active .custom-menu {
      margin-right: -50px; }
  #sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem; }
 #sidebar h1 .logo {
      color: #40469d; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px;}
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: #000000;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        color: #40469d; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #40469d; }
  @media (max-width: 850px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; }
      #sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }

/*Side Menu Main Toggle*/
    #sidebar .custom-menu .btn {
      width: 40px;
      height: 40px;
      border-radius: 10%; }
      #sidebar .custom-menu .toggle-btn {
        background: #40469d;
        border-color: #fff; }
      #sidebar .custom-menu .toggle-btn:hover, #sidebar .custom-menu .btn:focus {
          background: #000 !important;
          border-color: #fff !important; }


/*Side Menu Toggles*/
a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 850px) {
  #sidebarCollapse span {
    display: block; } }

/*Keeps the side bar background at 100% height*/
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }


/*.page-item .page-link {
    z-index: 3;
    color: #343a40;
    border-color: #343a40;
}
*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #40469d;
    border-color: #F3F2FF;
}

.page-link{
  color: #40469d;
}

.merriweather-h1{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 3.052rem;
  font-weight: 700;
  color: #40469d;
}
.merriweather-h2{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 2.441rem;
  font-weight: 700;
  color: #40469d;
}

.merriweather-h3{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 1.953rem;
  font-weight: 700;
  color: #40469d;
}

.merriweather-h4{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-size: 1.563rem;
  font-weight: 700;
}

.merriweather-body{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
}

.lato-emphasis{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 400;
}

.lato-link{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #5D2FA7;
}

.lato-body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.lato-body-purple{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  line-height: 1.5;
  font-size: 20px;
  color:#40469d;
}

.bold{
  font-weight: 700;
}

a:link {
  color: #5D2FA7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #5D2FA7;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color:#5D2FA7;
  background-color: transparent;
  text-decoration: none;
}

.header {
  margin-top: 60px;
}

.container-fluid {
  background-color: #ededff;
}

.navbar-light .navbar-nav .nav-link{
  color: #000000 !important;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #40469D !important;
}

.btn{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  border-radius: 40px;
  padding: 12px 20px;
  border: 0;

}
.btn-primary{
  background-color:#40469D;

}
.btn-primary:hover{
  background-color:#6C71B7;

}

.btn-primary:focus{
  background-color:#40469D;

}

.btn-primary:active{
  background-color:#6C71B7 !important;

}

.btn-secondary{
  background-color:#5D2FA7;
}

.btn-secondary:hover {
  background-color:#8C5FD6;
}

.btn-secondary:focus{
  background-color:#5D2FA7;
}

.btn-secondary:active{
  background-color:#8C5FD6 !important;

}

.footer-style{
  background-color:#EDEDFF;
}

.page-item .active{
  background-color:#40469D;
}

.color1 {
   width: 200px;
   height: 150px;
   background-color: #40469d;
   border-width: 2px;
   border-style: solid;

 }

 .color2 {
    width: 200px;
    height: 150px;
    background-color: #ededff;
    border-width: 2px;
    border-style: solid;

  }

  .color3 {
     width: 200px;
     height: 150px;
     background-color: #000000;
     border-width: 2px;
     border-style: solid;

   }

   .color4 {
      width: 200px;
      height: 150px;
      background-color: #ffffff;
      border-width: 2px;
      border-style: solid;

    }

    .color5 {
       width: 200px;
       height: 150px;
       background-color: #6c71b7;
       border-width: 2px;
       border-style: solid;

     }

     .color6 {
        width: 200px;
        height: 150px;
        background-color: #5d2fa7;
        border-width: 2px;
        border-style: solid;

      }

      .color7 {
         width: 200px;
         height: 150px;
         background-color: #8c5fd6;
         border-width: 2px;
         border-style: solid;

       }

       .design-system{
         margin-top: 50px;
       }
